parameters:
    bootstrap: %rootDir%/../../../phpstan-bootstrap.php

    ignoreErrors:
        - '#Static method .+Profiler::.+\(\) invoked with.+#'
        - '#Call to static method .+ on an unknown class Tideways\\Profiler.#'